.area {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

.lineSaved {
  fill: none;
  stroke: #3b82f6;
  stroke-width: 1;
}

.lineEditing {
  fill: none;
  stroke: #3b82f6;
  stroke-width: 2;
}

.point {
  fill: #3b82f6;
  stroke: #fff;
  stroke-width: 1;
}
